[submodule "chia-bls-go"]
	path = chia-bls-go
	url = https://github.com/chuwt/chia-bls-go
[submodule "chia-tx"]
	path = chia-tx
	url = https://github.com/chuwt/chia-tx
[submodule "chia-client"]
	path = chia-client
	url = https://github.com/chuwt/chia-client
